.checkbox-container {
  display: block;
  position: relative;
  float: right;
  /* padding-left: 35px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 18px;
  width: 18px;
  background: none;
  border: 1px solid #3c3c3c;
  transition: background 0.3s ease;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  opacity: 0;
  cursor: pointer;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #3498db;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  opacity: 1;
  transform: rotate(45deg);
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6.3px;
  top: 2.5px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(0deg);
  transition: transform 0.3s ease,
              opacity 0.3s ease;
}

/* Icons ---------------------------------- */
.montform .file-field{
	float: right;
}

.montform .color-channel{
    float: right;
}

.montform .file{
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 22px;
    display: block;
    margin: 1em 0;
}

.montform .file .description, .montform .description{
    font-size: small;
    display: block;
    line-height: initial;
}

.montform #commands {
	background-position: 11px 8px;
	background-repeat: no-repeat;
    padding: 0;
    outline: none;
}

.montform  textarea {
    width: 100%;
    height: 46px;
    line-height: 22px;
    resize:vertical;
}

.montform  input:hover, .montform  input:focus, .montform  textarea:focus {
    /* background-color:#e6e6e6; */
    color: rgb(12, 70, 136)
}

.montform {
  color:#3c3c3c;
}

.montform .feedback-input {
  font-weight:500;
border-radius: 0;
padding: 0 0 0 40px;
border: 3px solid rgba(0,0,0,0);
}

.montform  .submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

#dropzone, #scene-file-dropzone {
  background-color: #fbfbfb; border: 1px dashed #3c3c3c; border-radius: 5px;
  padding: 10px; text-align: center; line-height: initial;
  transition: all 0.6s ease;
}
#scene-file-spacer, #texture-map-spacer {
  background-size: 48px;
  background-repeat: no-repeat;
  background-position-y: 26%;
  background-position-x: center;
  opacity: 0.25;
}
#scene-file-spacer {
  height: 70px;
  background-image: url(./cloud_upload-24px.svg);
}
#texture-map-spacer {
  height: 70px;
  background-image: url(./insert_photo-24px.svg);
}
#scene-file-dropzone input {
  color: #3c3c3c;
}

#dropzone.entered, #scene-file-dropzone.entered {
  background-color: #2196F3;
  color: #fbfbfb;
}

#dropzone p, #dropzone.texture_file {
  /* Prevent drag n drop events on child elements */
  pointer-events: none;
}

div.texture-map-entry {
  /*width: 250px;
  height: 100px;*/
  background: lightgrey;
  border-radius: 10px;
}