

/*General */
html{
  background:
    -webkit-linear-gradient(315deg, hsla(244.85, 39.99%, 20%, 1) 0%, hsla(244.85, 39.99%, 20%, 0) 70%),
    -webkit-linear-gradient(47deg, hsla(223.77, 39.99%, 20%, 1) 10%, hsla(223.77, 39.99%, 20%, 0) 80%),
    -webkit-linear-gradient(157deg, hsla(306.03, 39.99%, 20%, 1) 40%, hsla(306.03, 39.99%, 20%, 0) 82%),
    -webkit-linear-gradient(349deg, hsla(318.87, 39.99%, 20%, 1) 77%, hsla(318.87, 39.99%, 20%, 0) 35%);
  background:
    linear-gradient(135deg, hsla(244.85, 39.99%, 20%, 1) 0%, hsla(244.85, 39.99%, 20%, 0) 70%),
    linear-gradient(43deg, hsla(223.77, 39.99%, 20%, 1) 10%, hsla(223.77, 39.99%, 20%, 0) 80%),
    linear-gradient(293deg, hsla(306.03, 39.99%, 20%, 1) 40%, hsla(306.03, 39.99%, 20%, 0) 82%),
    linear-gradient(101deg, hsla(318.87, 39.99%, 20%, 1) 77%, hsla(318.87, 39.99%, 20%, 0) 35%);
  background-attachment: fixed;
  height:100%;
  color: #F0F0F0;}

body {
    font-family: Lato, "Helvetica Neue", sans-serif, -apple-system,BlinkMacSystemFont,"PT Sans",Oxygen-Sans,
    Ubuntu,Cantarell;}

pre, code {
    font-family: 'Inconsolata', monospace;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0;}

h1, h2, h3, h4, h5, h6, h7, .montform label, details > summary {
    font-family: 'Montserrat', sans-serif;}

.error {
    color: rgb(238, 42, 42);}

.title-img {
    float: left;
    margin-top: 8px;
    margin-right: 8px;}

.page-description {
    font-family: "Segoe UI Light", "Helvetica Neue", sans-serif, -apple-system,BlinkMacSystemFont,"PT Sans",Oxygen-Sans,
    Ubuntu,Cantarell;
    font-size: 14px;}

div.server-message {
    color: #eeeeee;
    background-color: rgb(87, 76, 114);
    border-radius: 10px;
    padding: 5px 0;
    margin: 15px 0;}

.server-message span {
    padding: 0 15px;}

.page-title {
    margin-bottom: 25px;}

#feedback-page{
	text-align:center;}

#form-div {
    background-color:rgba(0, 0, 0, 0.164);
    border-radius: 14px;
    position: absolute;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 80%;
    max-width: 810px;
    left: 0;
    right: 0;
    margin: 30px auto 60px auto;
}

#reload {
    float: right;
    color: #3c3c3c;
    background: #cdcdcd;
    transition: color 0.3s ease, background 0.3s ease;}

#reload:hover {
    float: right;
    background-color: #3498db;
    color: white;}

.job-report {
    font-family: 'Inconsolata', monospace;
    word-break:break-all;
    word-wrap: break-word;
    padding: 4px;}

.job {
    margin-bottom: 35px;}

table {
	border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;}
  
td, th {
	border: none;
	text-align: left;
    padding: 2px 4px;
    word-break: break-word;
}

tr.title th {
	background-color: rgb(171, 191, 210);}

progress {
    max-width: 40%;}

details > summary {
    cursor: pointer;
    outline: none;}

details#image-maps > summary, details#options > summary {
    color: rgb(238, 238, 238);
    padding: 5px 0;}

.button-blue, .button-red {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
    transition: all 0.3s;
    outline: none;
    margin-top:-4px;
    font-weight:700;}

#share-preview-image {
    display: block;
    border: 2px solid #cdcdcd;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 30%;
}
#share-img-drop-text {
    text-align: center;
}
#remote_url {
    float: right;
}

.button-red {
    background-color: tomato;}

.button-red:hover {
	background-color: rgba(0,0,0,0);
    color: red;}

.button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;}

.downloads a, .server-message a {
  text-decoration: none;
  color: rgb(12, 70, 136);
  transition: color 0.3s ease;
}
.server-message a {
      color: #2196F3;
}
.downloads a:hover, .server-message a:hover {
  color: rgb(65, 203, 207);
}
.downloads .button-blue, .downloads .button-red {
    width: auto;
    font-size: 0.8em;
    border: none;
    padding: 5px;
    margin: 0 0 0 5px;
}

.downloads form {
    display: inline-block;
}

th.downloads, td.downloads {
    text-align: right;
}

.downloads th:nth-child(1), .downloads td:nth-child(1) {
    text-align: left;}
  
/* Thumbnail */
.thumbnail{
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;}

.size{
    font-size:12px;}

#texture-map-container tr:first-child {
    border: none;
}

.texture-map-entry label {
    font-size: small;
}

#texture-map-container th {
    background-color: rgb(171, 191, 210);
    border-radius: 10px;
    padding: 4px 4px 6px 5px;
}

#footer-line {
    color: rgb(238, 238, 238);
    font-size: small;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -44px;
    width: 100%;
    opacity: 0.6;
}
#footer-line li {
    display: inline-block;
    height: 16px;
    border-right: 2px solid white;
    padding: 0 6px 0 3px;
}
#footer-line li:last-child {
    border: none;
}
#footer-line a {
    text-decoration: underline;
    color: rgb(238, 238, 238);
    transition: color 0.3s ease;}
  
#footer-line a:hover {
    color: rgb(65, 203, 207);
}

.blink_me {
    animation: blinker 1.5s ease 0.2s;
}
  
@keyframes blinker {
      15% { opacity: 0.3; color: red; }
      30% { opacity: 1; }
      55% { opacity: 0.3; }
      70% { opacity: 1; }
      85% { opacity: 0.3; color: red; }
      100% { opacity: 1; color: none; }
}

/*Styles for small screens*/
@media  only screen and (max-width: 580px) {
	#form-div{
		width: 100%;
        padding: 25px 5px;
	}
}
