<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ content.title }} - {% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='ico/apple-icon-180x180.png', version='2') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='ico/android-icon-192x192.png', version='2') }}">
    <link rel="icon" type="image/png" sizes="144x144" href="{{ url_for('static', filename='ico/android-icon-144x144.png', version='2') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='ico/android-icon-96x96.png', version='2') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='ico/android-icon-36x36.png', version='2') }}">
    <link rel="manifest" href="{{ url_for('static', filename='ico/manifest.json', version='2') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='ico/ms-icon-144x144.png', version='2') }}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div id="form-div">
            <!-- Title Area -->
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                    {% for title, url in content.urls.navigation.items() %}
                        <a href="{{ url }}"><li>{{ title }}</li></a>
                    {% endfor %}
                    </ul>
                </div>
            </nav>
            <a href="/" class="page-title">
                <img class="title-img" src="{{ url_for('static', filename='img/USDzip_Logo.png', version='1') }}" width="46"
                        height="46"/>
                <h3 class="page-title">{% block page_title %}{% endblock %}</h3>
            </a>
            <div class="page-description">
                {% block description %}{% endblock %}
            </div>
            <!-- /Title Area -->

            <!-- Message Area -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="server-message">
                    <span class="blink_me">Server Message</span>
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}
            <!-- /Message Area -->

            <!-- Content Area -->
            {% block content %}{% endblock %}
            <!-- /Content Area -->
            <div id="footer-line">
                <ul>
                    <li>{{ content.title }} v{{ content.version }} @ <a href="https://github.com/tappi287/usdzconvert_webui">Github</a></li>
                    <li>Made with <a href="https://palletsprojects.com/p/flask/">Flask</a></li>
                    <li><a href="{{ content.urls.about }}">License Notes</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>