<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ content.title }} - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='USD_Logo.png', version='1') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
    {% endblock %}
</head>
<body>
    <div class="container">
        <div id="form-main">
            <div id="form-div">
                <!-- Title Area -->
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                        {% for title, url in content.urls.navigation.items() %}
                            <a href="{{ url }}"><li>{{ title }}</li></a>
                        {% endfor %}
                        </ul>
                    </div>
                </nav>
                <a href="/">
                <img class="title-img" src="{{ url_for('static', filename='USD_Logo.svg', version='1') }}" width="46"
                     height="46"/>
                </a>
                <h3 class="page-title">{% block page_title %}{% endblock %}</h3>
                <div class="page-description">
                    {% block description %}{% endblock %}
                </div>
                <!-- /Title Area -->

                <!-- Message Area -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="server-message">
                        <span> Server Message</span>
                        <ul class=flashes>
                           {% for message in messages %}
                           <li>{{ message }}</li>
                           {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% endwith %}
                <!-- /Message Area -->

                <!-- Content Area -->
                {% block content %}{% endblock %}
                <!-- /Content Area -->
            </div>
        </div>
    </div>
</body>
</html>