{% extends "base.html.j2" %}
{% block title %}Downloads{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/downloads.js') }}"></script>
    <script type="text/javascript">
        var dl = {{ downloads|tojson }}
        var d = downloads (dl)
    </script>
{% endblock %}

{% block page_title %}
    Downloads
{% endblock %}

{% block description %}
    <p>Access result files from all jobs ever created in the history of mackind.</p>
{% endblock %}

{% block content %}
    <div class="montform">
        <div class="file downloads">
            <table>
                <tr class="title">
                    <th>File</th>
                    <th>Size</th>
                    <th>Last modified</th>
                    <th></th>
                </tr>
            {% if not downloads %}
                <tr>
                    <td>No downloadable files have been created yet.</td>
                <tr>
            {% endif %}
            {% for entry_id, entry in downloads %}
                <tr>
                    <td>
                        <a id="dl_link_{{ entry_id }}" href="{{ entry.get('url') }}">
                            {{ entry.get('name') }}
                            {% if entry.get('preview_img') %}
                            <img style="display: none;" id="dl_img_{{ entry_id }}" 
                            class="download-preview" src="{{ entry.get('preview_img') }}" />
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {{ entry.get('size') }}
                    </td>
                    <td>
                        {{ entry.get('created') }}
                    </td>
                    <td class="downloads">
                        {% set download_file = entry_id + "/" + entry.get("name") %}
                        <form method="get" action="{{ content.urls.download_delete }}/{{ entry_id }}" class="montform">
                            <button type="submit" id="del_{{ entry_id }}" class="button-red" 
                            title="Permanently delete the download file from the server."
                            onclick="return confirm('Are you sure you want to permanently delete {{ download_file }}?')">Delete</button>
                        </form>
                        {% if entry.get('preview_img') %}
                        <form method="get" action="{{ entry.get('preview_img') }}" class="montform">
                            <button type="submit" id="dl_pre_{{ entry_id }}" class="button-blue"
                            title="Download a preview image">Preview</button>
                        </form>
                        {% endif %}
                        <form method="get" action="{{ entry.get('url') }}" class="montform">
                            <button type="submit" id="dl_{{ entry_id }}" class="button-blue">Download</button>
                        </form>
                        <form method="get" action="{{ content.urls.share }}/{{ entry_id }}" class="montform">
                            <button type="submit" id="share_{{ entry_id }}" class="button-blue" 
                            title="Share the file on a public remote server">Share</button>
                        </form>
                    </td>
                <tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
