{% extends "base.html.j2" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/dragdropupload.js') }}"></script>
    <script type="text/javascript">
        var t = dragDropUpload (
                {{ upload_allowed_maps_ext|tojson }},
                {{ upload_allowed_scene_ext|tojson }},
                {{ content.job_form.TextureMap.as_json_dict()|tojson }},
                {{ content.job_form.scene_file_field.id|tojson }}
            )
    </script>
{% endblock %}

{% block page_title %}
    {{ content.title }}
{% endblock %}

{% block description %}
    <p>Drag n drop files to the appropriate upload fields. See available Options below.</p>
{% endblock %}

{% block content %}
    <form method="post" action="/" enctype="multipart/form-data" class="montform" id="reused_form">
        <div class="file" id="scene-file-dropzone">
            <label>
                {{ content.job_form.scene_file_field.label }}
                <input style="display: none;" name="{{ content.job_form.scene_file_field.id }}" type="file" required class="feedback-input file-field">
            </label>
            <div id="scene-file-spacer"></div>
            <p class="description">{{ content.job_form.scene_file_field.desc|e }}</p>
            <p id="scene_file_drop_text" class="description">Drag n drop scene file(s) here. Drop both scene files at once if your scene file is eg. gltf+bin</p>
        </div>
        <br />

        <div id="dropzone">
            <label>Texture Maps</label>
            <div id="texture-map-spacer"></div>
            <p id="drop_text" class="description">Drag n drop texture maps here</p>
            <div id="texture-map-container"></div>
        </div>
        <br />

        <details id="options">
            <summary>Options</summary>
            {% for option_field in content.job_form.option_fields %}
                <div class="file">
                    <label>
                        {{ option_field.label }}
                        {% if option_field.input_type == 'textarea' %}
                            <input name="{{ option_field.id }}" type="text" class="color-channel">
                        {% elif option_field.input_type == 'checkbox' %}
                            <div class="checkbox-container">
                                <input name="{{ option_field.id }}" type="checkbox">
                                <span class="checkmark"></span>
                            </div>
                        {% elif option_field.input_type == 'float' %}
                            <input name="{{ option_field.id }}" type="number" step="any"  min="0" class="color-channel">
                        {% elif option_field.input_type == 'url' %}
                            <input name="{{ option_field.id }}" type="url" class="color-channel">
                        {% endif %}
                        <br />
                    </label>
                    <span class="description">{{ option_field.desc|e }}</span>
                </div>
            {% endfor %}
            <p class="file">
                 <textarea name="{{ content.job_form.additional_args }}" class="feedback-input" id="commands" 
                 placeholder="{{ content.job_form.additional_args_text }}"></textarea>
            </p>
        </details>

        <br />
         <div class="submit">
             <button type="submit" class="button-blue">SUBMIT</button>
             <div class="ease"></div>
         </div>
    </form>

    <div style="display: none;">
        <div id="texture-form-template" class="texture-map-entry" style="display: none">
            <table>
                <tr>
                    <th>
                        <span class="{{ content.job_form.TextureMap.file_label }}"></span>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input style="display: none;" name="{{ content.job_form.TextureMap.file }}" type="text"
                        class="{{ content.job_form.TextureMap.file }}">
                        <label>
                            Map Type
                            <select name="{{ content.job_form.TextureMap.type }}" class="{{ content.job_form.TextureMap.type }}">
                                {% for type, label, desc in content.job_form.TextureMap.texture_map_list %}
                                    <option value="{{ type }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                            <select name="{{ content.job_form.TextureMap.channel }}" class="{{ content.job_form.TextureMap.channel }}">
                                <option value="">RGBA</option>
                                <option value="R">R</option>
                                <option value="G">G</option>
                                <option value="B">B</option>
                                <option value="A">A</option>
                            </select>
                        </label>
                        <label>
                            Material
                            <input name="{{ content.job_form.TextureMap.material }}" type="text" 
                            title="{{ content.job_form.TextureMap.material_desc|e }}" class="{{ content.job_form.TextureMap.material }}">
                        </label>
                        <label>
                            Uv
                            <input name="{{ content.job_form.TextureMap.uv_coord }}" type="text" 
                            title="{{ content.job_form.TextureMap.uv_desc|e }}" class="{{ content.job_form.TextureMap.uv_coord }}">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="description {{ content.job_form.TextureMap.type_desc }}">Texture Type Description</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}
