{% extends "base.html.j2" %}

{% block title %}Jobs{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block page_title %}
    {{ content.job_title }}
{% endblock %}

{% block description %}
    <form><input id="reload" type="button" value="Refresh" onClick="window.location.reload()"></form>
    <p>Server Job states.</p>
{% endblock %}

{% block content %}
    {% if jobs %}
        <div class="montform">
        {% for job in jobs: %}
            <div class="file">
                <table>
                    <tr><th>Job ID: {{ job.job_dir.name }}</th></tr>
                    <tr class="title">
                        <th>Status</th>
                        <th>Progress</th>
                        {% if job.file() %}<th>USDZ File</th>{% endif %}
                    </tr>
                    <tr>
                        <td>{{ job.get_state()|default('No state available') }}</td>
                        <td>
                            <label>
                                <progress max="100" value="{{ job.progress|default('0') }}"></progress>
                                {{ job.progress|default('0') }}%
                            </label>
                        </td>
                        {% if job.file() %}
                        <td>
                            <form method="get" action="{{ content.urls.job_download }}/{{ job.id }}" class="montform">
                                <input id="download-{{ job.id }}" type="submit" value="Download">
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                </table>
                <table>
                    <tr><th>Job Report</th></tr>
                    <tr class="title"><th>Process Output</th></tr>
                    <tr class="job-report">
                        <td>
                            <pre>{{ job.process_messages|default('No process messages available') }}</pre>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr><th>Job Files</th></tr>
                    <tr class="title">
                        <th>Element</th>
                        <th>File</th>
                        <th>Channel</th>
                        <th>Material</th>
                    </tr>
                    {% for file_id, file, channel in job.list_files() %}
                    <tr>
                        <td>{{ file_id }}</td>
                        <td>{{ file }}</td>
                        <td>{{ channel|default('', not None) }}</td>
                        <td>default</td>
                    </tr>
                    {% endfor %}
                </table>
                <br /><br />
                <table>
                    <tr><th>Additional Arguments</th></tr>
                    <tr>
                        <td>
                            <pre>{{ job.additional_args|default('- no additional parameters were provided -', not '') }}</pre>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="montform">
            <p class="file">There are currently no jobs available.</p>
        </div>
    {% endif %}
{% endblock content %}