{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
 <div id="form-main">
   <div id="form-div">
       <h3>{{ content.title }}</h3>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p>
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </p>
          {% endif %}
        {% endwith %}

        <form method="post" action="/" enctype="multipart/form-data" class="montform" id="reused_form" >
            <p class="file">
                <label>Input 3d scene file
                    <input name="3d scene file" type="file" class="feedback-input file-field" required id="file" />
                </label>
            </p>

            {% for file_field in content.file_fields: %}
            <p class="file">
                <label>
                    {{ file_field.label }}
                    <input name="{{ file_field.label }}" type="file"
                           class="feedback-input file-field" id="{{ file_field.id }}" />
                </label>
                {% if file_field.channels_available %}
                <input type="text" class="color-channel" list="color-channels" />
                <datalist id="color-channels" >
                    <option> R
                    <option> G
                    <option> B
                    <option> A
                </datalist>
                {% endif %}
                <br />
                <span class="description">{{ file_field.desc }}</span>
            </p>
            {% endfor %}

             <p class="file">
                 <textarea name="message" class="feedback-input" id="commands"
                           placeholder="usdzconvert additional arguments"></textarea>
             </p>
             <div class="submit">
                 <button type="submit" class="button-blue">SUBMIT</button>
                 <div class="ease"></div>
             </div>
        </form>
  </div>
 </div>
{% endblock %}
